{#
/**
 * @file log_entity.html.twig
 * Default theme implementation to present Log entity data.
 *
 * This template is used when viewing Log entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_log_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('log_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
