.toolbar-icon-openy-gated-content-openy:before {
  background-image: url(/profiles/contrib/openy/modules/custom/openy_system/assets/images/icon-gear-inactive.png);
}

.openy_carnation-based.openy-gated-content main > div > div > .banner {
  display: none;
}

.openy_carnation-based.openy-gated-content main > div > div > .breadcrumbs-wrapper {
  display: none !important;
}
