.personal-training-page {
  .modal-chat {
    .modal-wrapper {
      display: block;

      .modal-container {
        height: 100%;
        width: 100%;
        max-height: 100%;
        position: absolute;
        right: 0;

        @media (min-width: 480px) {
          width: 430px;
        }
      }
      .modal-header {
        align-items: center;
        padding: 24px;
        color: $gray;
        font-weight: bold;

        button {
          border: none;
          background: none;
          font-size: 30px;
          height: 30px;
          line-height: 0;
        }
      }
      .modal-body {
        margin: 0;
        background-color: $light-gray;
      }
      .modal-footer {
        padding: 24px;
        justify-content: space-between;

        input {
          width: 80%;
          padding: 12px;
          border-radius: 0;
          border: 1px solid $gray;
        }
        button {
          width: 50px;
          height: 50px;
          background-color: $indigo;
          border: none;
          border-radius: 6px;
          transition: opacity 0.4s;

          &:hover,
          &:disabled {
            opacity: 0.7;
          }
        }
      }
    }

    .message {
      display: flex;
      justify-content: left;
      margin: 0 10px 24px;

      .user-icon {
        min-width: 48px;
        height: 48px;
        margin: 0 10px 0 0;
        text-align: center;
        line-height: 48px;
        font-weight: bold;
        border-radius: 24px;
        border: 2px solid $gray;
        color: $gray;
        background-color: $white;
      }

      .message-card {
        .message-header {
          margin-bottom: 12px;
        }
        .message-author {
          font-size: 12px;
          font-weight: bold;
        }
        .message-time {
          font-size: 10px;
        }
        .message-body {
          font-size: 14px;
        }
      }

      &.d-right {
        justify-content: space-between;
        flex-direction: row-reverse;

        .user-icon {
          margin: 0 0 0 10px;
          color: $white;
          background-color: $gray;
        }
        .message-card {
          float: right;
        }
      }
    }
  }
}
