.personal-training-page {
  .modal-join-options {
    .modal-container {
      background-color: $black;
      color:            $white;

      @include median(width, 72vw, null, 100vw);

      .modal-header, .modal-footer {
        display: none;
      }

      .modal-body {
        display:               grid;
        margin:                0;

        padding:               0;
        grid-template-columns: 1fr 1fr;

        @include median(grid-template-columns, 1fr 1fr, 1fr);

        .header, .controls, .button {
          grid-column: 2;
        }

        .video {
          background-image:    url('assets/img/join-options-video.png');
          background-repeat:   no-repeat;
          background-position: center;
          background-size:     77%;
          min-height:          260px;

          @include median(margin, 24px, 12px);
          @include median(min-height, 260px, initial);
          @include median(grid-column, 1, 2);
          @include median(grid-row, 1/span 3, initial);

          video {
            transform: scaleX(-1);
            width:     100%;

            @include median(height, 100%, initial);
          }
        }

        .header {
          display:     flex;
          align-items: flex-start;
          margin-top:  11px;
          grid-row:    1;

          @include median(margin-left, null, 12px);

          button {
            margin-left:      auto;
            outline:          none;
            border:           none;
            background-color: transparent;
            padding:          0 17px;
            color:            $white;
          }
        }

        .controls {
          display:         flex;
          align-items:     center;
          justify-content: space-around;

          .mic, .cam {
            display:        flex;
            flex-direction: column;
            align-items:    center;
            cursor:         pointer;

            .mic-icon, .camera-icon {
              border-radius:    50%;
              background-color: $red;
              padding:          13px;
              font-size:        26px;
            }

            .switch-icon {
              margin-left: 12px;
              font-size:   52px;
            }

            > div {
              display: flex;
            }

            > span {
              padding-top: 6px;
              font-size:   10px;
            }

            &.enabled {
              .mic-icon, .camera-icon {
                background-color: $camarone;
              }
            }
          }
        }

        .join {
          grid-column: 2;
        }
      }

      @media (max-width: 823px) and (max-height: 500px) and (orientation: landscape) {
        width:      100vw;
        height:     100vh;
        max-height: initial;

        .modal-body {
          grid-template-columns: 1fr 200px;

          .video {
            align-self:  center;
            grid-column: 1;
            grid-row:    1/span 3;
          }
        }
      }
    }
  }
}
