.personal-training-page {
  .modal-view-options {
    .modal-container {
      background-color: $black;
      color:            $white;

      @include median(width, 30vw, 60vw);

      .modal-header {
        display:       flex;
        align-items:   flex-start;
        border-bottom: $gray;
        padding:       12px;

        button {
          margin-left:      auto;
          outline:          none;
          border:           none;
          background-color: transparent;
          padding:          0 17px;
          color:            $white;
          font-size:        18px;
        }
      }

      .modal-body {
        margin:     0;
        padding:    0;
        overflow-y: initial;

        > div {
          display:       flex;
          align-items:   center;
          border-bottom: $gray;
          cursor:        pointer;
          padding:       15px 12px;

          .svg-container {
            padding-right: 15px;
            font-size:     18px;
          }

          &:hover, &.selected {
            background-color: $thunder;
          }
        }
      }

      .modal-footer {
        display: none;
      }
    }
  }
}
