.blog-listing {
  padding-top: 30px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;

  @media all and (max-width: 600px) {
    grid-gap: 10px;
    padding-top: 10px;
  }

  @media all and (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media all and (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
