.category-teaser {
  background-clip: border-box;
  min-width:       0;

  > a {
    .preview {
      background-size: cover;
      padding-bottom:  50%;
      height:          0;
    }

    .info {
      border: none;

      @include median(padding, 10px 10px 58px, 10px 10px 53px);
    }
  }
}
