.event-teaser {
  cursor: initial;

  &.virtual-meeting {
    border-top: solid 5px $blue-hover;
  }

  .preview {
    .month {
      position: absolute;
      left: 10px;
      bottom: 10px;
      border: 2px solid $white;
      border-radius: 4px;
      padding: 10px 20px;
      text-align: center;
      color: $white;
      background: linear-gradient(180deg, #2664ac, #48a9e5 100%);

      p:first-child {
        text-transform: uppercase;
        font-size: 14px;
        margin: 0;
      }

      p:last-child {
        font-size: 24px;
        margin: 0;
      }
    }
  }

  .meta {
    flex-direction: column;
    align-items: flex-start;

    .schedule {
      display: flex;
      align-items: center;

      .fa {
        font-size: 24px;
        padding-right: 10px;
      }
    }
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;

    a {
      display: block;
      text-transform: uppercase;
      background-color: $dark-blue;
      color: $white;
      text-align: center;
      padding: 10px;
      width: 100%;
    }

    &.subscribe {
      padding: 0 5px;
    }
  }
}
