.v-page-header {
  margin-right: auto;
  margin-left:  auto;

  padding:      23px 10px 13px;
  font-family:  $cachet-book;
  font-weight:  400;

  @include median(font-size, 32px, 28px);
  @include median(margin-bottom, initial, -7px, initial);

  @media (min-width: 768px) {
    margin-right: auto;
    margin-left:  auto;
    padding:      23px 15px 0;
    max-width:    750px;
  }

  @media (min-width: 992px) {
    max-width: 970px;
  }

  @media (min-width: 1200px) {
    padding:   40px 15px 10px;
    max-width: 1170px;
  }
}
