.personal-training-teaser {
  a {
    .timer {
      color: $white;
      background-color: $thunder;
      text-transform: uppercase;
      font-family: Verdana, sans-serif;
      font-weight: bold;
    }
  }
}
