.personal-training-teaser {
  > a .info {
    .canceled {
      @extend .private;
      margin-left:      15px;
      border-color:     $red;
      background-color: $red;
    }

    .private, .canceled {
      color: $white;
    }
  }
}
