.videos {
  .videos__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media all and (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .title {
      font-size: 24px;
      line-height: 24px;
      margin: 0;
    }

    .videos__date-filter {
      margin: 0;
      font-size: 24px;
      line-height: 24px;

      @media all and (max-width: 600px) {
        align-self: center;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      > button {
        border: none;
        background-color: white;
        color: $gray;

        &:focus {
          outline: 0;
        }

        &.left {
          padding-left: 0;
        }

        &.right {
          padding-right: 0;
        }
      }

      .date {
        padding: 0 20px;
        min-width: 310px;
        display: inline-block;
        text-align: center;
      }
    }
  }

  .video-listing {
    padding-top: 30px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;

    @media all and (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media all and (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .empty-listing {
    text-align: center;
    padding: 30px;
  }
}

div.videos:last-of-type {
  padding-bottom: 30px;
}
