.with-date-filter {
  @media (max-width: 600px) {
    flex-direction: column;

    .videos__date-filter {
      .date {
        min-width: auto;
      }
    }
  }
}

.videos__date-filter {
  margin:      0;
  line-height: 24px;
  font-size:   24px;

  @media all and (max-width: 600px) {
    display:         flex;
    align-self:      center;
    justify-content: space-between;
    padding-top:     20px;
    width:           100%;
  }

  > button {
    border:           none;
    background-color: white;
    color:            $gray;

    &:focus {
      outline: 0;
    }

    &.left {
      padding-left: 0;
    }

    &.right {
      padding-right: 0;
    }
  }

  .date {
    display:    inline-block;
    padding:    0 20px;
    min-width:  310px;
    text-align: center;
  }
}
