.gated-content-blog-page {
  .blog-page__image {
    position:            relative;
    background-position: center;
    background-size:     cover;
    padding:             30% 0 0 0;
  }

  .add-to-favorite {
    overflow: hidden;
    background-size: 20px 20px;
  }
}
