.login {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  h2.title {
    text-align: center
  }
  form {
    max-width: 305px;
    margin: 30px auto;

    .form-item {
      margin: 0 0 15px;
    }

    .captcha {
      margin: 0;
      padding: 15px 0;
    }

    .btn {
      margin: 0 auto;
      display: block;
    }
  }
}

.personify-auth {
  display: flex;
  flex-direction: column;
  align-items: center;

  .alert {
    display: inline-block;
  }

  .btn, .btn:hover {
    color: $white;
  }
}
