#gated-content .gated-content-video-page {
  padding-bottom: 30px;

  .video {
    padding-top: 0;
    padding-bottom: 0;

    @media all and (max-width: 768px) {
      padding: 0;
      width: 100%;
    }

    .youtube {
      padding: 56.25% 0 0 0;
      position: relative;

      > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 0;
      }
    }
  }

  .video-wrapper {
    background-color: $black;
  }

  .video-footer-wrapper {
    background-color: $mine-shaft;
  }

  .video-footer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    color: $gallery;

    @media all and (min-width: 600px) {
      grid-template-columns: 3fr 1.2fr;
      grid-template-rows: auto;
      grid-gap: 30px;
    }

    .video-footer__title {
      font-size: 24px;
      line-height: 20px;
      padding-bottom: 10px;

      @media all and (min-width: 600px) {
        padding-bottom: 40px;
      }
    }

    .video-footer__description {
      font-size: 16px;
      line-height: 1.5em;
    }

    .add-to-calendar {
      margin-top: 1rem;
    }

    .video-footer__block {
      padding: 4px 0;
      font-size: 14px;
      line-height: 16px;

      &:first-child {
        padding-top: 0;
      }

      .fa {
        font-size: 20px;
        margin-right: 10px;
      }
    }

    .video-footer__category {
      span+span::before {
        content: ', ';
        display: inline;
      }
    }

    .video-footer__equipment {
      padding: 5px 0;

      font-size: 12px;
      line-height: 1.5em;

      ul {
        padding-top: 5px;
        list-style-type: none;

        li:before {
          content: '+';
        }
      }
    }
  }

  .video-category-wrapper {
    background-color: $dark-blue;

    span+span::before {
      content: ', ';
      display: inline;
    }
  }

  .video-category {
    padding-top: 20px;
    padding-bottom: 20px;
    color: $white;
    font-size: 14px;
    line-height: 14px;

    a {
      color: $white;
    }
  }
}

@media (min-width: 768px) {
  .one-column {
    #gated-content {
      .gated-content-video-page {
        .video {
          padding: 0;
        }
      }

      .videos {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
