#gated-content .gated-content-video-page {
  padding-bottom: 30px;

  .video {
    padding: 0;

    @media all and (max-width: 768px) {
      padding: 0;
      width: 100%;
    }
  }

  .video-wrapper {
    background-color: $black;
  }

  .video-footer-wrapper {
    background-color: $mine-shaft;
  }

  .video-footer {
    padding-bottom: 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;

    color: $gallery;

    @media all and (min-width: 600px) {
      grid-template-columns: 3fr 1.2fr;
      grid-gap: 30px;
    }

    .video-footer__title {
      font-size: 24px;
      line-height: 24px;
    }

    .video-footer__description {
      padding-top: 10px;
      font-size: 16px;
      line-height: 16px;

      @media all and (min-width: 600px) {
        padding-top: 40px;
      }
    }

    .video-footer__block {
      padding: 5px 0;
      font-size: 14px;
      line-height: 14px;

      &:first-child {
        padding-top: 0;
      }

      .fa {
        font-size: 20px;
        margin-right: 10px;
      }
    }

    .video-footer__equipment {
      padding: 5px 0;

      font-size: 12px;
      line-height: 12px;

      ul {
        padding-top: 5px;
        list-style-type: none;

        li:before {
          content: '+';
        }
      }
    }
  }

  .video-category-wrapper {
    background-color: $dark-blue;
  }

  .video-category {
    padding-top: 20px;
    padding-bottom: 20px;
    color: $white;
    font-size: 14px;
    line-height: 14px;

    a {
      color: $white;
    }
  }
}
