.gated-content-video-page {
  padding-bottom: 30px;

  .video {
    @media all and (min-width: 1060px) {
      width: 970px;
      max-width: 970px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .video-wrapper {
    background-color: $black;
  }

  .video-footer-wrapper {
    background-color: $mine-shaft;
  }

  .video-footer {
    padding: 30px 10px 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;

    color: $gallery;

    @media all and (min-width: 600px) {
      padding: 30px 40px 0;
      grid-template-columns: 2fr 1fr;
      grid-gap: 30px;
    }

    @media all and (min-width: 1060px) {
      max-width: 970px;
      margin-left: auto;
      margin-right: auto;
    }

    .video-footer__title {
      font-size: 24px;
      line-height: 20px;
    }

    .video-footer__description {
      padding-top: 10px;
      font-size: 16px;
      line-height: 16px;

      @media all and (min-width: 600px) {
        padding-top: 40px;
      }
    }

    .video-footer__block {
      padding: 15px 0;
      font-size: 14px;
      line-height: 14px;
      border-radius: 5px;
      display: flex;
      align-items: center;

      @media all and (min-width: 600px) {
        padding: 15px;
      }

      &:first-child {
        padding-top: 0;
      }

      .fa {
        font-size: 20px;
        margin-right: 10px;
      }
    }

    .video-footer__equipment {
      padding: 15px 0;

      @media all and (min-width: 600px) {
        padding: 15px;
      }

      font-size: 12px;
      line-height: 12px;

      ul {
        padding-top: 5px;
        list-style-type: none;

        li:before {
          content: '+';
        }
      }
    }
  }

  .video-category-wrapper {
    background-color: $dark-blue;
  }

  .video-category {
    padding: 20px 10px;
    color: $white;
    font-size: 14px;
    line-height: 14px;

    @media all and (min-width: 600px) {
      padding: 20px 40px;
    }

    @media all and (min-width: 1060px) {
      max-width: 970px;
      margin-left: auto;
      margin-right: auto;
    }

    a {
      color: $white;
    }
  }
}
