#gated-content .gated-content-video-page {
  padding-bottom: 30px;

  .video-wrapper {
    background-color: $black;

    .video {

      @media all and (max-width: 768px) {
        width: 100%;
      }

      .youtube, .youtube_playlist {
        position: relative;
        padding:  56.25% 0 0 0;

        > iframe {
          position:     absolute;
          top:          0;
          left:         0;
          border-width: 0;
          width:        100%;
          height:       100%;
        }
      }

      .vimeo_event {
        padding: 65.91% 0 0 0;
        position: relative;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }

  .video-footer-wrapper {

    .video-footer {
      display:            grid;

      @include median(grid-template-columns, 65% 35%, 65% 35%, 1fr);

      > div:nth-child(1), > div:nth-child(2), > div:nth-child(4) {
        grid-column: 1;

        @include median(padding-right, 40px, 20px, initial);
      }

      .video-footer__fav {
        grid-row:    2;
        display:     flex;
        align-items: center;
      }

      > div:nth-child(3) {
        @include median(grid-column, 2, 2, 1);
        @include median(grid-row-start, 1, 1, 3);
        @include median(grid-row-end, -1, -1, initial);
        @include median(padding-bottom, null, null, 20px);

        .svg-container {
          font-size: 18px;

          @include median(margin-right, 14px, 14px, 10px);
        }
      }

      > div:nth-child(4) {
        @include median(grid-row, 3, 3, 4);
      }

      .video-footer__block {
        display:     flex;
        align-items: center;

        @include median(padding, 10px 0, 8px 0);

        &:first-child {
          padding-top: 0;
        }
      }

      .video-footer__category {
        span:not(:first-child) + span::before {
          display: inline;
          content: ', ';
        }

        a {
          color: $white;

          &:hover {
            color: darken(white, 20);
          }
        }
      }

      .video-footer__equipment {
        margin-bottom:   0;
        padding-top:     5px;
        font-size:       12px;
        list-style-type: none;

        li:before {
          content: '+';
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .one-column {
    #gated-content {
      .gated-content-video-page {
        .video {
          padding: 0;
        }
      }

      .videos {
        padding-right: 0;
        padding-left:  0;
      }
    }
  }
}
