.gated-content-video-page {
  padding-bottom: 30px;

  .video {
    padding: 0 40px;
  }

  .video-footer {
    padding: 30px 40px 0;

    display: grid;
    grid-template-columns: 2fr 1fr;

    .video-footer__title {
      font-size: 24px;
      line-height: 20px;
    }

    .video-footer__description {
      padding-top: 40px;
      font-size: 16px;
      line-height: 16px;
    }

    .video-footer__block {
      border: 1px solid $gray;
      padding: 15px;
      margin: 0 10px 20px 10px;
      font-size: 14px;
      line-height: 14px;
      border-radius: 5px;
    }

    .video-footer__equipment {
      margin: 10px;

      font-size: 12px;
      line-height: 12px;

      ul {
        padding-top: 5px;
      }
    }
  }

  .video-category {
    margin-top: 30px;
    padding: 20px 40px;
    background-color: $dark-blue;
    color: $white;
    font-size: 14px;
    line-height: 14px;
  }

  .video-up-next {
    padding: 30px 40px 0;

    .header {
      font-size: 24px;
      line-height: 24px;
    }

    .list {
      padding-top: 30px;
      display: flex;
      flex-wrap: nowrap;

      > div {
        flex: none;
        width: 320px;
        margin-right: 30px;
        border: solid 1px $gray;
        border-top: solid 5px $indigo;

        .preview {
          position: relative;
          padding-bottom: 56.25%;
          background-size: contain;

          .duration {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 10px 15px;
            font-size: 10px;
            line-height: 10px;
            text-align: center;
            background-color: $black;
            opacity: .7;
          }
        }

        .title {
          padding: 10px;
          font-size: 22px;
          line-height: 20px;
        }

        .meta {
          padding: 15px 10px;
          font-size: 14px;
          line-height: 14px;
        }
      }
    }
  }

  .video-level {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: -8px 10px -8px 0;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray;
    color: $white;
    font-weight: bold;
  }
}
