.personal-training-page {
  .join-meeting {
    display:             flex;
    align-items:         center;
    justify-content:     center;
    background-image:    url('assets/img/background.png');

    background-position: center;
    height:              400px;

    &.complete {
      box-shadow: inset 0 0 0 2000px rgba($black, 0.6);

      .message {
        border-radius:    6px;
        background-color: $black;
        padding:          24px;
        color:            $white;
      }
    }
  }
}
