.personal-training-page {
  .personal-training-meeting {
    display:        flex;
    position:       fixed;
    top:            0;
    left:           0;
    flex-direction: column;
    z-index:        2000;
    padding-top:    initial;
    width:          100vw;
    max-width:      initial;
    height:         100vh;
  }
}
