.personal-training-page {
  .personal-training-meeting {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    max-width: initial;
    padding-top: initial;
  }
}
