$white: #ffffff;
$red: #cc0000;
$light-gray: #f2f2f2;
$gray: #636466;
$black: #231f20;
$blue: #0560ab;
$dark-blue: #0060af;
$blue-hover: #0070aa;
$red-highlight: rgba(204, 0, 0, 0.1);
$indigo: #92278f;
$mine-shaft: #2f2f2f;
$gallery: #efefef;
$concrete: #f2f2f2;
$y-video-button-shape: #212121;
