.toolbar .toolbar-tray {
  z-index: 1031;
}
.openy_carnation-based.openy-gated-content {
  main > div > div {
    > .banner {
      display: none;
    }

    > .breadcrumbs-wrapper {
      display: none !important;
    }
  }

  @mixin carnation_median($property, $desktop, $combined:$desktop, $tablet_mobile:$combined) {
    #{$property}: $desktop;

    @if $combined != $desktop {
      @media only screen and (max-width: 1059px) {
        #{$property}: $combined;
      }
    }

    @if $tablet_mobile != $combined {
      @media only screen and (max-width: 991px) {
        #{$property}: $tablet_mobile;
      }
    }
  }

  #gated-content {
    @include carnation_median(padding-top, 80px, 85px, 45px);

    .top-menu {
      @include carnation_median(top, 130px, 78px);
      @include carnation_median(z-index, 1030, 39);

      &.menuOpen {
        z-index: 2000;
      }
    }

    .gated-content-schedule-page {
      @include carnation_median(padding-top, 110px, 112px, 56px);
    }

    .date-filter {
      @include carnation_median(top, 217px, 165px, 125px);
    }

    .calendar .desktop .slot.dates {
      @include carnation_median(top, 263px, 213px);
    }
  }

  &.toolbar-fixed {
    #gated-content {
      padding-top: 0;

      .top-menu {
        @include carnation_median(top, calc(130px + 40px), calc(78px + 39px));
      }

      .gated-content-schedule-page {
        @include carnation_median(padding-top, 0, 3px, 56px);
      }

      .date-filter {
        @include carnation_median(top, 257px, 204px, 164px);
      }

      .calendar .desktop .slot.dates {
        @include carnation_median(top, 305px, 252px);
      }
    }

    .openy-page-tabs {
      margin-top: 80px !important;
    }
  }

  &.toolbar-tray-open #gated-content {
    .top-menu {
      @include carnation_median(top, calc(130px + 79px), calc(78px + 39px));
    }

    .date-filter {
      top: 296px;
    }

    .calendar .desktop .slot.dates {
      top: 344px;
    }
  }

  &.alerts {
    #openy_alerts_header_placeholder {
      @include carnation_median(margin-top, 217px, 165px, 125px);
    }

    #gated-content {
      padding-top: 0;
    }

    &.toolbar-fixed {
      #openy_alerts_header_placeholder {
        @include carnation_median(margin-top, null, 125px);
      }
    }

    &.vy-route-Schedule {
      .layout-container {
        overflow: initial;
        .viewport {
          overflow: initial;
        }
      }

      #gated-content {
        .gated-content-schedule-page {
          padding-top: 0 !important;

          .date-filter {
            position: initial;
            position: sticky;
            @include carnation_median(top, 217px, 165px, 116px);
          }

          .calendar .desktop .slot.dates {
            position: initial;
            position: sticky;
            @include carnation_median(top, 265px, 213px);
          }
        }
      }

      &.toolbar-vertical {
        #toolbar-bar {
          @include carnation_median(position, null, fixed);
        }
      }

      &.toolbar-fixed {
        #openy_alerts_app_header {
          @include carnation_median(margin-top, 122px, 0);
        }

        #gated-content {
          .gated-content-schedule-page {
            .date-filter {
              @include carnation_median(top, 256px, 204px);
            }

            .calendar .desktop .slot.dates {
              @include carnation_median(top, 304px, 252px);
            }
          }
        }

        &.toolbar-tray-open {
          #openy_alerts_app_header {
            margin-top: 164px;
          }

          #gated-content {
            .gated-content-schedule-page {
              .date-filter {
                @include carnation_median(top, 295px, 204px);
              }

              .calendar .desktop .slot.dates {
                @include carnation_median(top, 343px, 252px);
              }
            }
          }
        }
      }
    }
  }
}

.openy_lily-based.openy-gated-content {

  .breadcrumb-container {
    display: none;
  }

  .return-to-top {
    display: none;
  }

  #gated-content {
    .top-menu {
      @include median(top, 162px, 80px);
    }

    .gated-content-schedule-page {
      @include median(padding-top, 112px, 56px);
    }

    .date-filter {
      @include median(top, 247px, 127px);
    }

    .calendar .desktop .slot.dates {
      top: 292px;
    }
  }

  &.toolbar-fixed {
    header#page-head .top-navs .nav-wrapper .main-nav.affix {
      top: 120px !important;
    }
  }

  &.toolbar-fixed #gated-content {
    .gated-content-schedule-page {
      padding-top: 48px;
    }
  }

  &.toolbar-tray-open #gated-content {
    .top-menu {
      top:     calc(162px + 27px);
      z-index: 500;
    }

    .gated-content-schedule-page {
      padding-top: 45px;
    }

    .date-filter {
      top: calc(247px + 27px);
    }

    .calendar .desktop .slot.dates {
      top: calc(292px + 27px);
    }
  }

  &.alerts {
    #openy_alerts_app_header {
      @include median(margin-top, 85px, 47px);
    }

    #gated-content {
      padding-top: 0;
    }

    &.toolbar-fixed {
      #openy_alerts_app_header {
        @include median(margin-top, 63px, 0);
      }

      .viewport {
        @include median(margin-top, null, 0);
      }
    }

    &.toolbar-tray-open {
      #openy_alerts_app_header {
        @include median(margin-top, 60px, 0);
      }
    }

    &.vy-route-Schedule {
      .layout-container {
        overflow: initial;
        .viewport {
          overflow: initial;
        }
      }

      #gated-content {
        .gated-content-schedule-page {
          padding-top: 0 !important;

          .date-filter {
            position: initial;
            position: sticky;
            @include median(top, 247px, 126px);
          }

          .calendar .desktop .slot.dates {
            position: initial;
            position: sticky;
            top:      295px;
          }
        }
      }

      &.toolbar-vertical {
        #toolbar-bar {
          @include median(position, null, fixed);
        }
      }

      &.toolbar-fixed {
        #openy_alerts_app_header {
          @include median(margin-top, 122px, 0);
        }

        #gated-content {
          .gated-content-schedule-page {
            .date-filter {
              top: 246px;
            }

            .calendar .desktop .slot.dates {
              top: 294px;
            }
          }
        }

        &.toolbar-tray-open {
          #openy_alerts_app_header {
            margin-top: 164px;
          }

          #gated-content {
            .gated-content-schedule-page {
              .date-filter {
                top: 273px;
              }

              .calendar .desktop .slot.dates {
                top: 321px;
              }
            }
          }
        }
      }
    }
  }
}

.openy_rose-based.openy-gated-content {
  #block-openy-rose-breadcrumbs {
    display: none;
  }

  #gated-content {
    .top-menu {
      @include median(z-index, 500, 1030);
      @include median(top, 165px, 70px);

      > div button {
        @include median(padding-right, initial, 8px);
      }
    }

    .gated-content-schedule-page {
      @include median(padding-top, 115px, 52px);
    }

    .date-filter {
      @include median(top, 250px, 117px);
    }

    .calendar .desktop .slot.dates {
      top: 298px;
    }
  }

  &.toolbar-vertical, &.toolbar-horizontal {
    #gated-content {
      @include median(padding-top, 0);

      .top-menu {
        top: calc(165px + 37px);
      }

      .gated-content-schedule-page {
        padding-top: 46px;
      }

      .date-filter {
        top: 287px;
      }

      .calendar .desktop .slot.dates {
        top: 335px;
      }
    }

    .openy-page-tabs {
      margin-top: 100px !important;
    }

    @include media-breakpoint-down(md) {
      #gated-content .top-menu {
        top: 109px;
      }

      &.primary-menu-minimize {
        #gated-content .top-menu {
          top: 70px;
        }
      }

      .viewport {
        margin-top: 86px;
      }
    }
  }

  &.toolbar-fixed {
    #gated-content {
      .top-menu {
        top: calc(165px + 39px);
      }

      .gated-content-schedule-page {
        padding-top: 48px;
      }

      .date-filter {
        top: 329px;
      }

      .calendar .desktop .slot.dates {
        top: 377px;
      }
    }

    &.toolbar-tray-open {
      #gated-content {
        .top-menu {
          top: calc(165px + 79px);
        }
      }
    }

    &.primary-menu-minimize {
      #gated-content {
        .top-menu {
          top: calc(42px + 39px);

          @include media-breakpoint-down(md) {
            top: 70px !important;
          }
        }
      }

      &.toolbar-tray-open {
        #gated-content {
          .top-menu {
            top: calc(42px + 79px);
          }
        }
      }
    }
  }

  &.primary-menu-minimize {
    #gated-content {
      .gated-content-schedule-page {
        padding-top: 0;
      }

      .date-filter {
        top: 127px;
      }

      .calendar .desktop .slot.dates {
        top: 175px;
      }
    }

    &.toolbar-fixed {
      #gated-content {

        .date-filter {
          top: 166px;
        }

        .calendar .desktop .slot.dates {
          top: calc(175px + 39px);
        }
      }
    }
  }

  &.alerts {
    #openy_alerts_app_header {
      @include median(margin-top, 85px, 47px);
    }

    #gated-content {
      padding-top: 0;
    }

    &.toolbar-fixed {
      #openy_alerts_app_header {
        @include median(margin-top, 83px, 0);
      }
    }

    &.toolbar-tray-open {
      #openy_alerts_app_header {
        @include median(margin-top, 85px, 0);
      }
    }

    .openy-page-tabs {
      margin-top: 10px !important;
    }

    &.vy-route-Schedule {
      .viewport {
        overflow: initial;
      }

      #gated-content {
        .gated-content-schedule-page {
          padding-top: 0 !important;

          .date-filter {
            position: initial;
            position: sticky;
            @include median(top, 250px, 116px);
          }

          .calendar .desktop .slot.dates {
            position: initial;
            position: sticky;
            top:      298px;
          }
        }
      }

      &.primary-menu-minimize {
        #gated-content {
          .gated-content-schedule-page {
            padding-top: 0 !important;

            .date-filter {
              position: initial;
              position: sticky;
              top:      126px;
            }

            .calendar .desktop .slot.dates {
              position: initial;
              position: sticky;
              top:      174px;
            }
          }
        }
      }

      &.toolbar-vertical {
        #toolbar-bar {
          @include median(position, null, fixed);
        }
      }

      &.toolbar-fixed {
        #openy_alerts_app_header {
          @include median(margin-top, 122px, 0);
        }

        #gated-content {
          .gated-content-schedule-page {
            .date-filter {
              top: 287px;
            }

            .calendar .desktop .slot.dates {
              top: 335px;
            }
          }
        }

        &.primary-menu-minimize {
          #gated-content {
            .gated-content-schedule-page {
              .date-filter {
                top: 165px;
              }

              .calendar .desktop .slot.dates {
                top: 213px;
              }
            }
          }
        }

        &.toolbar-tray-open {
          #openy_alerts_app_header {
            margin-top: 164px;
          }

          #gated-content {
            .gated-content-schedule-page {
              .date-filter {
                top: 326px;
              }

              .calendar .desktop .slot.dates {
                top: 374px;
              }
            }
          }

          &.primary-menu-minimize {
            #gated-content {
              .gated-content-schedule-page {
                .date-filter {
                  top: 166px;
                }

                .calendar .desktop .slot.dates {
                  top: 214px;
                }
              }
            }
          }
        }
      }
    }
  }
}
