.text-thunder {
  color: $thunder !important;
}

.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-gray {
  color: $gray !important;
}

.text-red {
  color: $red !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-white {
  background-color: $white !important;
}

.bg-red {
  background-color: $red !important;
}

.fill-white {
  fill: $white !important;
}

.fill-gray {
  fill: $gray !important;
}

.fill-red {
  fill: $red !important;
}

.fill-camarone {
  fill: $camarone !important;
}

.border-thunder {
  border-color: $thunder !important;
}

.border-concrete {
  border-color: $concrete !important;
}
