.text-thunder {
  color: $thunder !important;
}

.text-white {
  color: $white !important;
}

.text-black {
  color: $black !important;
}

.text-gray {
  color: $gray !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-white {
  background-color: $white !important;
}

.fill-white {
  fill: $white !important;
}

.fill-gray {
  fill: $gray !important;
}

.border-thunder {
  border-color: $thunder !important;
}

.border-concrete {
  border-color: $concrete !important;
}
