.text-thunder {
  color: $thunder !important;
}

.fill-white {
  fill: $white !important;
}

.fill-gray {
  fill: $gray !important;
}

.border-thunder {
  border-color: $thunder !important;
}

.border-concrete {
  border-color: $concrete !important;
}
