{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('openy_gated_content/gated-content-vue') }}
<div id="gated-content">
  <App settings="{{ app_settings }}" headline="{{ headline }}"/>
</div>
