{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('openy_gated_content/gated-content-vue') }}
<div id="gated-content">
  <App auth="{{ auth_provider_id }}" auth-data="{{ auth_configuration }}" />
</div>
