{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('openy_gated_content/gated-content-styles') }}
<div id="gated-content">
  <div class="login">
    <h2 class="title">{{ 'Sign In'|t }}</h2>
    <div class="container">
      {{ drupal_block('virtual_y_login') }}
    </div>
  </div>
</div>
