.personal-training-page {
  .control-panel {
    display: flex;

    @include median(column-gap, 12px, 12px, 0);
    @include median(padding,
      14px 24px,
      null,
      0
    );

    .full-screen {
      @include median(display, block, none);
    }

    > div {
      display:        flex;
      flex-direction: column;
      align-items:    center;
      cursor:         pointer;

      .svg-container {
        padding:   9px;
        font-size: 26px;

        @include median(border, 2px solid $white, null, none);
        @include median(border-radius, 50%, null, 0);
      }

      span:nth-child(2) {
        padding-top: 6px;
        text-align:  center;
        font-size:   10px;

        @include median(display, block, block, none);
      }

      &.enabled {
        .svg-container {
          background-color: $camarone;
        }
      }

      &.view {
        .svg-container {
          padding:   12px;
          font-size: 20px;
        }
      }
    }
  }
}
