.personal-training-page {
  .join-meeting {
    display:             flex;
    align-items:         center;
    justify-content:     center;
    @include median(
        background-image,
        url('assets/img/background.png'),
        url('assets/img/background.png'),
        url('assets/img/background-m.png')
    );
    @include median(background-size, auto, cover, cover);
    @include median(height, 400px, 400px, 360px);
    background-position: center;
    background-repeat: no-repeat;

    &.shadow {
      box-shadow: inset 0 0 0 2000px rgba($black, 0.6);

      .message {
        border-radius:    6px;
        background-color: $black;
        padding:          24px;
        color:            $white;
      }
    }
  }
}
