.personal-training-page {
  .meeting-player {
    position:         relative;
    background-color: $black;
    height:           90vh;

    video {
      transform: scaleX(-1);
    }

    .partner {
      background-image:    url('assets/img/background.png');
      background-repeat:   no-repeat;
      background-position: center;
      background-size:     cover;
    }

    .local {
      background-image:    url('assets/img/join-options-video.png');
      background-repeat:   no-repeat;
      background-position: center;
      background-size:     cover;
    }

    .connected:not(.video-disabled) {
      background: $black;
    }

    &.view-inset {
      .partner {
        position: absolute;
        width:    100%;
        height:   100%;
      }

      .local {
        position: absolute;
        right:    0;
        bottom:   0;
        width:    20%;
      }
    }

    &.view-horizontal {
      .partner {
        position:  absolute;
        left:      50%;
        transform: translateX(-50%) scaleX(-1);
        height:    50%;
      }

      .local {
        position:  absolute;
        top:       50%;
        left:      50%;
        transform: translateX(-50%) scaleX(-1);
        height:    50%;
      }
    }

    &.view-vertical {
      .partner {
        position:    absolute;
        transform:   translateY(50%) scaleX(-1);
        padding-top: calc(56.25% / 2);
        width:       50%;
        height:      0;
      }

      .local {
        position:  absolute;
        left:      50%;
        transform: translateY(50%) scaleX(-1);
        width:     50%;
      }
    }
  }
}
