.personal-training-page {
  .meeting-player {
    position:         relative;
    background-color: $black;
    height:           100%;

    .video-wrapper {
      overflow:            hidden;
      background-repeat:   no-repeat;
      background-position: center;
      background-size:     cover;
    }

    video {
      transform:           scaleX(-1);
      display:             block;
      margin:              -1px;
      height:              calc(100% + 2px);
      width:               calc(100% + 2px);
    }

    .partner {
      @include median(
          background-image,
          url('assets/img/background.png'),
          url('assets/img/background.png'),
          url('assets/img/background-m.png')
      );
    }

    .local {
      background-image: url('assets/img/join-options-video.png');
    }

    .connected {
      background: $black;
    }

    &.view-inset {
      .partner {
        position: absolute;
        width:    100%;
        height:   100%;

        &.connected {
          left:      50%;
          transform: translateX(-50%);
        }
      }

      .local {
        position:  absolute;
        right:     0;
        bottom:    0;
        width:     20%;
        min-width: 150px;
      }
    }

    &.view-horizontal {
      .partner {
        position:  absolute;
        left:      50%;
        transform: translateX(-50%);
        height:    50%;
      }

      .local {
        position:  absolute;
        top:       50%;
        left:      50%;
        transform: translateX(-50%);
        height:    50%;
      }

      video {
        width: 100%;
      }
    }

    &.view-vertical {
      .partner {
        position:  absolute;
        top:       50%;
        transform: translateY(-50%);
        width:     50%;
      }

      .local {
        position:  absolute;
        top:       50%;
        left:      50%;
        transform: translateY(-50%);
        width:     50%;
      }
    }
  }

  .audio-state-indicator,
  .video-state-indicator {
    position:           absolute;
    bottom:             5px;
    height:             30px;
    width:              30px;
    z-index:            1;

    .svg-container {
      border-radius:    50%;
      background-color: $red;
      padding:          6px;
      font-size:        18px;
    }
  }

  .audio-state-indicator {
    left:               5px;

    .indication {
      border-radius:    50%;
      background-color: $aquamarine;
      position:         absolute;
      left:             50%;
      top:              50%;
      transform:        translate(-50%, -50%);

      &:before {
        content:        "";
        display:        block;
        padding-top:    100%;
      }
    }
  }

  .video-state-indicator {
    left:               40px;
  }
}
