.gc-button {
  display: block;
  border: none;
  background-color: $dark-blue;
  color: $white;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  outline: none !important;
  &:hover {
    color: $white;
  }
  &:visited {
    color: $white;
  }
  &:focus {
    color: $white;
  }
}

